[submodule "config/config/.oh-my-zsh"]
	path = config/config/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "config/config/ohmyzsh"]
	path = config/config/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
